.Select {
  width: min-content;
}

.SelectAnchor {
  padding: var(--paddingSmall) var(--padding);
  cursor: pointer;
  border: 1px solid var(--textFieldBorderColor);
  box-sizing: border-box;
  border-radius: var(--borderRadius);
  display: flex;
  align-items: flex-start;
}

.SelectAnchor > .SelectAnchor-Value {
  flex-grow: 1;
}

.SelectAnchor .SelectAnchor-ExpandIcon {
  height: 18px;
}

.SelectAnchor .SelectAnchor-ExpandIcon svg {
  fill: var(--fontColorLighter);
  margin-top: -1px;
}

.Select > .Popover.Popover--open > .PopoverAnchor > .SelectAnchor {
  border: 1px solid transparent;
}

.Select > .Popover > div > .PopoverBody > .Card {
  padding: 0;
}

.SelectOption {
  padding: var(--paddingSmall) var(--padding);
  background-color: var(--neutralColor);
  cursor: pointer;
}

.SelectOption.SelectOption--placeholder {
  color: var(--fontColorLighter);
}

.SelectAnchor.SelectAnchor--placeholder {
  color: var(--textFieldBorderColor);
}

.SelectOption:hover {
  background-color: var(--neutralColorHover);
}

.SelectOption.SelectOption--selected {
  background-color: var(--primaryColorBackground);
}
