h1.Text,
h2.Text,
h3.Text,
h4.Text,
h5.Text,
h6.Text {
  margin: var(--headingMargin);
}

p.Text {
  margin: var(--paragraphMargin);
}

.Text.Text--variation-code {
  font-size: 0.9em;
  border-radius: 2px;
  background: var(--codeBackgroundColor);
  padding: 2px;
  font-variant-ligatures: none;
  font-family: 'Fira Mono', 'Andale Mono', 'Consolas', monospace;
  letter-spacing: 0px;
  width: fit-content;
  display: inline;
}
