.ModalContainer {
  background-color: var(--shadowColor);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Modal {
  background-color: var(--neutralColor);
  padding: var(--paddingLarge);
  border-radius: var(--borderRadius);
  width: 500px;
  position: relative;
}

.Modal-close-action {
  position: absolute;
  top: 0;
}

.Modal--floatingCloseActionLocation-right > .Modal-close-action {
  right: 0;
}

.Modal--floatingCloseActionLocation-left > .Modal-close-action {
  left: 0;
}

.Modal-Header-content > .StackItem > .Text {
  margin: 0;
}

.Modal-Header-content {
  margin: var(--headingMargin);
}

.Modal.Modal--noPadding {
  padding: 0;
}
