.Card {
  background-color: var(--neutralColor);
  box-shadow: var(--shadowDims) var(--shadowColor);
  padding: var(--padding);
  border-radius: var(--borderRadius);
  z-index: 10;
}

.Card-Header-content > .Text {
  margin: 0;
}

.Card-Header-content {
  margin: var(--headingMargin);
}

.Card.Card--noPadding {
  padding: 0;
}

.Card.Card--elevation-low {
  box-shadow: var(--shadowDimsLight) var(--shadowColor);
}

.Card.Card--elevation-normal {
  box-shadow: var(--shadowDims) var(--shadowColor);
}

.Card.Card--elevation-high {
  box-shadow: var(--shadowDimsHeavy) var(--shadowColor);
}
