.FormElement {
}

.FormElement label {
  font-weight: bold;
}

.FormElement .FormElementContent {
  margin-top: var(--gapSmall);
}

.FormElement .FormElementError {
  color: red;
  font-size: small;
}
