.Button {
  cursor: pointer;
  font-weight: bold;
  border-radius: var(--borderRadius);
  border: var(--buttonBorder);
}

.Button:disabled {
  cursor: none;
}

.Button:not(.Button--plain) {
  padding: var(--paddingSmall) var(--padding);
  color: var(--fontColorInverted);
}

.Button--appearance-primary {
  background-color: var(--primaryColor);
}

.Button--appearance-primary:hover {
  background-color: var(--primaryColorHover);
}

.Button--appearance-primary:disabled {
  background-color: var(--primaryColorDisabled);
}

.Button--plain {
  background-color: transparent;
  border: none;
}
