.App {
  padding: 10px;
}

.component-demo {
  margin: 10px;
  padding: 10px;
}

.component-demo.row {
  display: flex;
  flex-wrap: wrap;
}

.component-demo > * {
  margin: 5px;
}

.Select {
  /* min-width: 400px; */
}
