body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div.block-code-parent {
  position: relative;
}

div.block-code-parent .code-copy {
  position: absolute;
  opacity: 0.9;
  background: #8884;
  top: 0;
  right: 0;
  border-radius: 4px;
  padding: 4px;
}

div.block-code-parent .code-copy svg {
  height: 18px;
  width: 18px;
}
